html, body{padding: 0 0;margin: 0 0;height: 100%;width: 100%;font-family: Arial, Tahoma, Geneva, sans-serif;background-color: #F9F9F9;color: #333;}

#classification{background-color: Green; width: 100%;}
#dash-top{ width: 100%;height: 60px;border-bottom: 1px solid #e7e7e7;background-color: #fff;}
#dash-top img{margin: 0; padding: 4px 0 0 0; display:inline; vertical-align: bottom;}

#classification h2, #dash-top h2{margin: 0; text-align:center;}
#classification h2 {color: #fff; font-size: 14px; padding: 3px 0; }
#dash-top h2{font-family:Stencil;font-size: 40px;}

#definition{ width: 100%; padding: 10px 0 0 0;}
#definition h3{color: #333; text-align:left; font-size: 30px; width: 80%; margin: 0 auto; padding: 0; font-weight:normal;}

a{text-decoration: none; color: #333;}

#contentArea{width: 80%; text-align: center; margin:0 auto; padding: 20px 0 0 0;}
#contentArea a:hover{cursor: default;}
.mission, .upcoming, .previous{width: 325px; height: 325px; border: 1px solid #e7e7e7; display:inline-block; margin: 0 10px 10px 0; box-shadow: 0 10px 15px #e7e7e7;}
.mission, .previous{background-color: inherit;}
.upcoming{background-color: #fff; background-image: url('images/1.png'), url('images/4.png'), url('images/3.png'), url('images/2.png'); background-repeat:no-repeat; background-position: 25% 95%, 38% 95%, 52% 95%, 65% 95%;}
.mission h4, .upcoming h4, .previous h4{font-family:Stencil; float: left; padding: 20px 30px 10px 20px; margin: 0; font-size: 28px;}
.mission h4 {background: url('images/mission.png') no-repeat 100% 60%;}
.upcoming h4{background: url('images/event.png') no-repeat 100% 60%;}
.previous h4{background: url('images/past.png') no-repeat 100% 60%;}
.mission p, .upcoming p, .previous p{float: left; text-align: left; padding: 10px 30px 30px 20px; margin: 0; font-size: 20px;}

#footer, #lastChance{width: 100%; padding: 30px 0 30px 0; text-align: center;}
.calltoaction{width: 100%; padding: 0 0 30px 0; font-size: 25px;}
.join, .cta{padding: 12px 30px 12px 15px; text-decoration:none; color: #fff; border-bottom: 3px solid #333;border-top: 3px solid RGB(0,112,192); }
.join{background: RGB(0,112,192) url('images/pointer.png') no-repeat 98% 50%; }
.cta{background: RGB(0,112,192) url('images/call.png') no-repeat 98% 50%; }
.join:hover, .cta:hover{border-bottom: 3px solid RGB(0,112,192);opacity:0.95;}
.social img {padding: 0 20px 0 0; opacity: 0.6;}
.social img:hover{opacity: 1;}

#mission-detail, #upcoming-detail, #previous-detail{width: 100%; padding: 0; height: 600px; display:none;}
#mission-detail h2, #upcoming-detail h2, #previous-detail h2{text-align: center; margin: 0 auto 0 auto; padding: 20px 0; font-size: 30px; background-color:#F9F9F9; font-family:Stencil;}
.mission-area, .upcoming-area, .previous-area{width: 81%; height: 500px; background-color: #fff; margin: 0 auto; border: 1px solid #e7e7e7; }
#lastChance{display:none;}

/* media queries from small to large */ 
@media screen and (max-width: 500px) {
    #dash-top h2{font-size: 20px;}
    #dash-top img{height:40px !important; vertical-align: text-bottom !important;}
    
    #definition h3{font-size: 18px !important; width: 90%; }
    #definition img{height:18px !important;}

    #contentArea{width: 90%;}
    .mission, .upcoming, .previous{width: 100%; margin: 0;}
    .join, .cta{padding: 8px 25px 8px 10px; font-size: 20px;}   
    .mission-area, .upcoming-area, .previous-area{width: 95%;}
}

@media screen and (max-width: 1050px) {
    #definition h3{font-size: 25px; }
    #definition img{height:25px;}
}


@media screen and (min-height: 750px) {
  #definition{padding: 30px 0 0 0;}  
  #contentArea{padding: 60px 0 0 0;}
  #footer{padding: 80px 0 0 0;}
}
